.card {

  margin: 2rem 1rem;
  background-color: white;
  padding: 1rem 0rem 0rem;
}

.content {

  padding: 0 1rem;

  div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
  }

  div:first-child {

    margin: 0;
  }
}

.btns {

  margin: 1rem 0;
  display:flex;
  justify-content: space-around;
  border-top: 1px solid #EEEEF2;
  height: 4rem;

  .verticalline {

    height: 3rem;
    width: 1px;
    background-color: #EEEEF2;
    margin: auto 0;
  }

  .btn {

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    img {

      margin-right: 1rem;
    }

    span {

      font-size: 1.2rem;
      color: #1b1c1c;
    }
  }
}

.parkingName {

  font-size: 1.8rem;
  color: #1B1C1C;
}

.valid {

  font-size: 1.2rem;
  color: #C8C8C8;
}

.numberPlate {

  font-size: 1.4rem;
  color: #1B1C1C;
}

.reserveTime {

  font-size: 1.2rem;
  color: #1B1C1C;
}